body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    flex-direction: column;
    background-color:#121212;   
}

.main {
   
    padding: 10px 20px;
    width: 500px;
    text-align: center;
    color: white; /* Text color changed to white for better readability */
    /*backdrop-filter: blur(20px); /* Increased blur effect for a more pronounced glass look */
    background: linear-gradient(135deg,rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter:blur(30px);
    border-radius:20px;
    border:1px solid rgba(255,255,255,018);
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}



label{
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: white;
    font-weight: bold;
}

input{
    display: block;
    width: 100%;
    margin-bottom: 25px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button{
    padding: 15px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    color: white;
    cursor: pointer;
    background-color: rgb(195, 147, 36);
    width: 100%;
    font-size: 16px;
}


.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover{
    background-color:rgb(221, 178, 78) ;
}

h1{
    color: white;
}

.wrap-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.para{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    color:white;
}

.error {
    color: red;
    font-size: 14px;
}

a {
    color: rgb(221, 178, 78);
}







